# SPECTRUM KERNEL MANAGER
# Ramdisk file for profile based kernel management
# Implimentation inspired by Franco's fku profiles
# Fully revised by @dotkit For TheOneMemory kernel

# Initialization
on property:sys.boot_completed=1
    # Set default profile on first boot
    exec u:r:init:s0 root root -- /init.spectrum.sh
    exec u:r:su:s0 root root -- /init.spectrum.sh
    # Enable Spectrum support
    setprop spectrum.support 1
    # Add kernel name
    setprop persist.spectrum.kernel kernelname
    # Enable Force Fast Charge Feature by default
    write /sys/kernel/fast_charge/force_fast_charge 1
    # set to balance
    setprop persist.spectrum.profile 0

on property:sys.post_boot.parsed=1
    # set to 0 again
    setprop persist.spectrum.profile 0

    # Enable Force Fast Charge Feature by default
    write /sys/kernel/fast_charge/force_fast_charge 1

on property:vendor.post_boot.parsed=1
    # set to 0 again
    setprop persist.spectrum.profile 0

    # Enable Force Fast Charge Feature by default
    write /sys/kernel/fast_charge/force_fast_charge 1

    # Set Thermal to Intellithermal as default
    chmod 0644 /sys/module/msm_thermal/core_control/enabled
    chown system system /sys/module/msm_thermal/core_control/enabled
    write /sys/module/msm_thermal/core_control/enabled 0
    chmod 0644 /sys/module/msm_thermal/parameters/enabled 
    chown system system /sys/module/msm_thermal/parameters/enabled 
    write /sys/module/msm_thermal/parameters/enabled Y

# Balance (default profile)
on property:persist.spectrum.profile=0

    ## Little gov
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy0/scaling_governor
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_governor "interactive"
    ## Little min freq
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy0/scaling_min_freq
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_min_freq 633600
    ## Little max freq
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy0/scaling_max_freq
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_max_freq 1612800
    ## Little min info
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy0/cpuinfo_min_freq
    write /sys/devices/system/cpu/cpufreq/policy0/cpuinfo_min_freq 633600
    ## Little max info
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy0/cpuinfo_max_freq
    write /sys/devices/system/cpu/cpufreq/policy0/cpuinfo_max_freq 1612800

    ## Big gov
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy4/scaling_governor
    write /sys/devices/system/cpu/cpufreq/policy4/scaling_governor "interactive"
    ## Big min freq
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy4/scaling_min_freq
    write /sys/devices/system/cpu/cpufreq/policy4/scaling_min_freq 1113600
    ## Big max freq
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy4/scaling_max_freq
    write /sys/devices/system/cpu/cpufreq/policy4/scaling_max_freq 1804800
    ## Big min info
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy4/cpuinfo_min_freq
    write /sys/devices/system/cpu/cpufreq/policy4/cpuinfo_min_freq 1113600
    ## Big max info
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy4/cpuinfo_max_freq
    write /sys/devices/system/cpu/cpufreq/policy4/cpuinfo_max_freq 1804800

    # Power Efficient Workqueues
    write /sys/module/workqueue/parameters/power_efficient "Y"

    ## GPU
    write /sys/class/kgsl/kgsl-3d0/max_gpuclk 430000000
    write /sys/class/kgsl/kgsl-3d0/min_gpuclk 160000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 430000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 160000000
    write /sys/class/kgsl/kgsl-3d0/max_clock_mhz 430
    write /sys/class/kgsl/kgsl-3d0/min_clock_mhz 160
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor "msm-adreno-tz"
    write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 0
    write /sys/class/kgsl/kgsl-3d0/throttling 1
    write /sys/devices/soc/1c00000.qcom,kgsl-3d0/devfreq/1c00000.qcom,kgsl-3d0/governor "msm-adreno-tz"

    ## I/O Scheduler
    write /sys/block/mmcblk0/queue/scheduler "cfq"

    ## Adreno Idler
    write /sys/module/adreno_idler/parameters/adreno_idler_active "Y"
    write /sys/module/adreno_idler/parameters/adreno_idler_idleworkload "8000"
    write /sys/module/adreno_idler/parameters/adreno_idler_downdifferential "25"
    write /sys/module/adreno_idler/parameters/adreno_idler_idlewait "5"

    ## Thermal
    chmod 0644 /sys/module/msm_thermal/parameters/enabled
    chown system system /sys/module/msm_thermal/parameters/enabled
    write /sys/module/msm_thermal/parameters/enabled "Y"

# Performance
on property:persist.spectrum.profile=1

    ## Little gov
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy0/scaling_governor
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_governor "performance"
    ## Little min freq
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy0/scaling_min_freq
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_min_freq 633600
    ## Little max freq
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy0/scaling_max_freq
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_max_freq 1612800
    ## Little min info
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy0/cpuinfo_min_freq
    write /sys/devices/system/cpu/cpufreq/policy0/cpuinfo_min_freq 633600
    ## Little max info
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy0/cpuinfo_max_freq
    write /sys/devices/system/cpu/cpufreq/policy0/cpuinfo_max_freq 1612800

    ## Big gov
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy4/scaling_governor
    write /sys/devices/system/cpu/cpufreq/policy4/scaling_governor "performance"
    ## Big min freq
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy4/scaling_min_freq
    write /sys/devices/system/cpu/cpufreq/policy4/scaling_min_freq 1113600
    ## Big max freq
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy4/scaling_max_freq
    write /sys/devices/system/cpu/cpufreq/policy4/scaling_max_freq 1804800
    ## Big min info
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy4/cpuinfo_min_freq
    write /sys/devices/system/cpu/cpufreq/policy4/cpuinfo_min_freq 1113600
    ## Big max info
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy4/cpuinfo_max_freq
    write /sys/devices/system/cpu/cpufreq/policy4/cpuinfo_max_freq 1804800

    # Power Efficient Workqueues
    write /sys/module/workqueue/parameters/power_efficient "N"

    ## GPU
    write /sys/class/kgsl/kgsl-3d0/max_gpuclk 430000000
    write /sys/class/kgsl/kgsl-3d0/min_gpuclk 160000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 430000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 160000000
    write /sys/class/kgsl/kgsl-3d0/max_clock_mhz 430
    write /sys/class/kgsl/kgsl-3d0/min_clock_mhz 160
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor "msm-adreno-tz"
    write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 2
    write /sys/class/kgsl/kgsl-3d0/throttling 0
    write /sys/devices/soc/1c00000.qcom,kgsl-3d0/devfreq/1c00000.qcom,kgsl-3d0/governor "msm-adreno-tz"

    ## I/O Scheduler
    write /sys/block/mmcblk0/queue/scheduler "anxiety"

    ## Adreno Idler
    write /sys/module/adreno_idler/parameters/adreno_idler_active "N"
    write /sys/module/adreno_idler/parameters/adreno_idler_idleworkload "8000"
    write /sys/module/adreno_idler/parameters/adreno_idler_downdifferential "25"
    write /sys/module/adreno_idler/parameters/adreno_idler_idlewait "5"

    ## Thermal
    chmod 0644 /sys/module/msm_thermal/parameters/enabled
    chown system system /sys/module/msm_thermal/parameters/enabled
    write /sys/module/msm_thermal/parameters/enabled "N"

# Battery
on property:persist.spectrum.profile=2

    ## Little gov
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy0/scaling_governor
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_governor "darknessv5"
    ## Little min freq
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy0/scaling_min_freq
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_min_freq 633600
    ## Little max freq
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy0/scaling_max_freq
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_max_freq 1612800
    ## Little min info
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy0/cpuinfo_min_freq
    write /sys/devices/system/cpu/cpufreq/policy0/cpuinfo_min_freq 633600
    ## Little max info
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy0/cpuinfo_max_freq
    write /sys/devices/system/cpu/cpufreq/policy0/cpuinfo_max_freq 1612800

    ## Big gov
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy4/scaling_governor
    write /sys/devices/system/cpu/cpufreq/policy4/scaling_governor "darknessv5"
    ## Big min freq
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy4/scaling_min_freq
    write /sys/devices/system/cpu/cpufreq/policy4/scaling_min_freq 1113600
    ## Big max freq
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy4/scaling_max_freq
    write /sys/devices/system/cpu/cpufreq/policy4/scaling_max_freq 1804800
    ## Big min info
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy4/cpuinfo_min_freq
    write /sys/devices/system/cpu/cpufreq/policy4/cpuinfo_min_freq 1113600
    ## Big max info
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy4/cpuinfo_max_freq
    write /sys/devices/system/cpu/cpufreq/policy4/cpuinfo_max_freq 1804800

    # Power Efficient Workqueues
    write /sys/module/workqueue/parameters/power_efficient "Y"

    ## GPU
    write /sys/class/kgsl/kgsl-3d0/max_gpuclk 370000000
    write /sys/class/kgsl/kgsl-3d0/min_gpuclk 160000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 370000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 160000000
    write /sys/class/kgsl/kgsl-3d0/max_clock_mhz 370
    write /sys/class/kgsl/kgsl-3d0/min_clock_mhz 160
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor "powersave"
    write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 0
    write /sys/class/kgsl/kgsl-3d0/throttling 1
    write /sys/devices/soc/1c00000.qcom,kgsl-3d0/devfreq/1c00000.qcom,kgsl-3d0/governor "powersave"

    ## I/O Scheduler
    write /sys/block/mmcblk0/queue/scheduler "cfq"

    ## Adreno Idler
    write /sys/module/adreno_idler/parameters/adreno_idler_active "Y"
    write /sys/module/adreno_idler/parameters/adreno_idler_idleworkload "6000"
    write /sys/module/adreno_idler/parameters/adreno_idler_downdifferential "25"
    write /sys/module/adreno_idler/parameters/adreno_idler_idlewait "5"

    ## Thermal
    chmod 0644 /sys/module/msm_thermal/parameters/enabled
    chown system system /sys/module/msm_thermal/parameters/enabled
    write /sys/module/msm_thermal/parameters/enabled "Y"

# Gaming
on property:persist.spectrum.profile=3

    ## Little gov
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy0/scaling_governor
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_governor "interactive"
    ## Little min freq
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy0/scaling_min_freq
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_min_freq 633600
    ## Little max freq
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy0/scaling_max_freq
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_max_freq 1612800
    ## Little min info
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy0/cpuinfo_min_freq
    write /sys/devices/system/cpu/cpufreq/policy0/cpuinfo_min_freq 633600
    ## Little max info
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy0/cpuinfo_max_freq
    write /sys/devices/system/cpu/cpufreq/policy0/cpuinfo_max_freq 1612800

    ## Big gov
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy4/scaling_governor
    write /sys/devices/system/cpu/cpufreq/policy4/scaling_governor "interactive"
    ## Big min freq
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy4/scaling_min_freq
    write /sys/devices/system/cpu/cpufreq/policy4/scaling_min_freq 1113600
    ## Big max freq
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy4/scaling_max_freq
    write /sys/devices/system/cpu/cpufreq/policy4/scaling_max_freq 1804800
    ## Big min info
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy4/cpuinfo_min_freq
    write /sys/devices/system/cpu/cpufreq/policy4/cpuinfo_min_freq 1113600
    ## Big max info
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy4/cpuinfo_max_freq
    write /sys/devices/system/cpu/cpufreq/policy4/cpuinfo_max_freq 1804800

    # Power Efficient Workqueues
    write /sys/module/workqueue/parameters/power_efficient "N"

    ## GPU
    write /sys/class/kgsl/kgsl-3d0/max_gpuclk 430000000
    write /sys/class/kgsl/kgsl-3d0/min_gpuclk 160000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 430000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 160000000
    write /sys/class/kgsl/kgsl-3d0/max_clock_mhz 430
    write /sys/class/kgsl/kgsl-3d0/min_clock_mhz 160
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor "performance"
    write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 3
    write /sys/class/kgsl/kgsl-3d0/throttling 0
    write /sys/devices/soc/1c00000.qcom,kgsl-3d0/devfreq/1c00000.qcom,kgsl-3d0/governor "performance"

    ## I/O Scheduler
    write /sys/block/mmcblk0/queue/scheduler "anxiety"

    ## Adreno Idler
    write /sys/module/adreno_idler/parameters/adreno_idler_active "N"
    write /sys/module/adreno_idler/parameters/adreno_idler_idleworkload "8000"
    write /sys/module/adreno_idler/parameters/adreno_idler_downdifferential "25"
    write /sys/module/adreno_idler/parameters/adreno_idler_idlewait "5"

    ## Thermal
    chmod 0644 /sys/module/msm_thermal/parameters/enabled
    chown system system /sys/module/msm_thermal/parameters/enabled
    write /sys/module/msm_thermal/parameters/enabled "N"

## SPECTRUM PROPERTY END
